<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="mission2.Properties.Settings.m2lCKConnectionString"
            connectionString="Data Source=WIN-921C8FKTGAE;Initial Catalog=m2lCK;User ID=sio2slam;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>